doctype html
html(lang='en')

	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Inter&display=swap' rel='stylesheet')
		link(rel="icon" type="image/ico" href=`${endpoint}/favicon.ico`)
		// <meta http-equiv="refresh" content="0; url=https://www.youtube.com/watch?v=YxjY_YTksKM" />
		title Homework Creation

	body
		nav#nav
			#menu
				img#avatar(src=avatarURL||'https://cdn.discordapp.com/embed/avatars/0.png' alt='avatar')
				p#username #{username||'Username'}
				p#discriminator ##{discriminator||'0000'}
				// <img src="assets/logout.png" alt="logout" id="logout">

		#page
			form(action=`${endpoint}/add/${token}` method='post')
				h2 Add Homework
				label(for='title') Title (required)
				input.field(type='text' name='title' autocomplete='off' required='')
				label(for='detail') Detail
				input.field(type='text' name='detail' autocomplete='off')
				label(for='subject') Subject (required)
				select.field(type='text' name='subject' required='')
					option(value='' selected='' disabled='' hidden='') Choose a subject
					each subject in subjects
						option(value=subject.subID) #{subject.name}
				#datetime 
					label(for='date') Date
					input.field(type='date' name='date')
					label(for='time') Time
					input.field(type='time' name='time')
				input#submit.field(type='submit' value='SUBMIT')

	style.
		*,
		*::before,
		*::after {
			box-sizing: inherit;
			margin: 0px;
		}

		html {
			box-sizing: border-box;
		}

		body {
			position: relative;
			display: flex;
			flex-direction: column;
			min-height: 100vh;

			background-color: rgb(15, 15, 15);
			color: white;

			font-family: "Inter", sans-serif;
		}

		#page {
			position: relative;
			flex: 1 1 auto;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		#nav {
			display: flex;
			justify-content: flex-end;
			
			height: fit-content;
			width: 100%;
		}
		
		#menu {
			cursor: default;
			position: relative;

			display: flex;
			justify-content: space-evenly;
			align-items: center;

			width: fit-content;
			padding: 7px;
			margin: 1.5vmin;
			border-radius: 10px;

			background-color: rgb(60, 70, 90);
		}

		#menu p {
			margin: 2px;
			/* font-weight: 500; */
		}

		#avatar {
			width: 35px;
			margin-right: 10px;
			border-radius: 50%;
		}

		#username {
		}

		#discriminator {
			color: rgb(199, 199, 199);
			font-weight: 600;
		}

		h2 {
			margin: 16px;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			padding: 30px;
			border-radius: 20px;
			box-shadow: 3px 3px 2px rgb(26, 26, 26);

			max-width: 90vw;
			background-color: rgb(36, 45, 59);
		}

		label {
			margin-top: 15px;
			align-self: flex-start;

			font-size: 1rem;
			font-weight: 600;
			color: rgba(255, 255, 255, 0.6);
		}

		option {
			background-color: rgb(28, 36, 48);
			height: 50px;
		}

		.field {
			margin: 5px;
			padding: 0 8px;
			height: 36px;

			outline: none;
			border: 2px solid #777777;
			border-radius: 5px;

			color: white;
			background-color: rgba(54, 54, 54, 0.199);

			font-size: 17px;

			transition: border-color 0.3s, box-shadow 0.3s;
		}

		form > .field {
			width: 100%;
		}

		.field:focus {
			border-color: rgb(20, 126, 126);
			box-shadow: 0px 0px 5px rgb(20 126 126);
		}

		#datetime {
			margin-top: 15px;
		}

		#submit {
			cursor: pointer;
			margin-top: 30px;
			border: none;
			box-shadow: 0px 0px 8px black;
			background-color: rgb(6, 161, 102);
			font-weight: bolder;
		}

		#logout {
			margin-left: 10px;
			width: 20px;
			filter: invert();
		}

		::-webkit-calendar-picker-indicator {
			filter: invert(1);
		}

		@media only screen and (max-width: 768px) {
			body {
				background-color: rgb(36, 45, 59);
			}

			form {
				width: 100%;
				box-shadow: none;
			}

			h2 {
				margin-top: 5px;
			}

			label {
				font-size: 1rem;
			}

			.field {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}

			#datetime {
				display: flex;
				flex-direction: column;
				justify-content: stretch;
				align-items: center;

				margin: 0;
				width: 100%;
			}

			#datetime input {
				width: 100%;
			}

			#menu {
				margin-top: 20px;
				margin-right: 20px;
				//- background-color: transparent;
			}

			/* #avatar,
				#username,
				#discriminator {
					display: none;
				} */

			#logout {
				margin: 5px;
			}
		}

			
	script.
		// ty code from stackoverflow lol
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1; //January is 0!
		var yyyy = today.getFullYear();
		if (dd < 10) {
		dd = '0' + dd;
		}
		if (mm < 10) {
		mm = '0' + mm;
		}
		today = yyyy + '-' + mm + '-' + dd;
		document.getElementById("date").setAttribute("min", today);

	
